<h1>Edit Moderator</h1>

<p><%= render 'validation_errors', object: @moderator %></p>

<%= form_for [:admin, @moderator] do |f| %>
	<p>
		<%= f.label :fullname %>
		<%= f.text_field :fullname %>
	</p>
	<p>
		<%= f.label :username %>
		<%= f.text_field :username %>
	</p>
	<p>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>