<h1>Login</h1>
<%= form_tag admin_sessions_path do %>
	<p>
		<%= label_tag :username %>
		<%= text_field_tag :username %>
	</p>
	<p>
		<%= label_tag :password %>
		<%= password_field_tag :password %>
	</p>
	<p><%= submit_tag 'Log In' %></p>
<% end %>