<h1>Admin::Tags#new</h1>


<%= form_for [:admin, @tag] do |f| %>
	<p><%= f.text_area :name, placeholder: 'eg Ruby, python, Php' %></p>
	<p><%= f.submit %></p>
<% end %>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Status</th>
			<th>Created</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @tags.each do |tag| %>
			<tr>
				<td><%= tag.name %></td>
				<td><%= status_converter(tag.in_use?,truthy: 'In use', falsey: 'Not in use') %></td>
				<td><%= time_ago tag.created_at %></td>
				<td>
					<%= link_to edit_admin_tag_url(tag) do %>
						<button type="button">Edit</button>
					<% end %>
					<%= create_delete_button tag %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
