<!DOCTYPE html>
<html>
<head>
  <title>AdminBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
	<div class="alert"><%= flash[:alert] %></div>
<% end %>

<%= link_to 'Log out', logout_path %>
<p>
	<%= link_to 'Moderator', admin_moderators_path %>
	<%= link_to 'Posts', admin_posts_path %>
	<%= link_to 'Tags', new_admin_tag_path %>
	<%= link_to 'Comments', admin_comments_path %>
	<%= link_to 'Visitors', admin_visitors_path %>
	<%= link_to 'Messages', admin_messages_path %>
</p>

<%= yield %>

</body>
</html>
